@media screen and (min-width: 576px) {
}

@media screen and (min-width: 640px) {
  /* Testimonials */
  .testimonials__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials__quote {
    font-size: 1.6rem;
  }

  .testimonials__name {
    font-size: 1.4rem;
  }

  .testimonials__gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) {
  /* Header */
  .nav__icons {
    display: none;
  }

  .nav__list {
    position: static;
    background: transparent;
    transform: translateX(0);

    flex-direction: row;
  }

  .nav__item {
    padding: 0 1.2rem;
  }

  .nav__item:first-of-type {
    padding-left: 0;
  }

  .nav__item:last-of-type {
    padding-right: 0;
  }

  .nav__item a {
    font-size: 1.6rem;
  }

  /* Hero */
  .hero {
    text-align: left;
  }

  .hero__content {
    align-items: center;
    column-gap: 1rem;
  }

  .hero__heading {
    font-size: 3.6rem;
  }

  .hero__description {
    font-size: 1.8rem;
  }

  .hero__btns {
    justify-content: flex-start;
  }

  .hero__meals {
    gap: 1rem;
  }

  .hero__customers {
    justify-content: flex-start;
  }

  /* Companies */
  .companies__logos {
    grid-template-columns: repeat(4, 1fr);
  }

  .companies__logos img {
    max-width: 150px;
  }

  /* Works */
  .works__step {
    align-items: center;
  }

  .works__step:nth-of-type(odd) .works__img {
    order: 1;
  }

  .works__step-heading {
    font-size: 2.2rem;
  }

  .works__description {
    font-size: 1.6rem;
  }

  /* Meals */
  .meals__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  .meals__diet {
    grid-column: span 2;
  }

  /* Testimonials */
  .testimonials__quote {
    font-size: 1.8rem;
  }

  .testimonials__name {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 992px) {
  /* Hero */
  .hero__heading {
    font-size: 4.4rem;
  }

  .hero__description {
    font-size: 2rem;
  }

  .hero__meals {
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  /* Features */
  .companies__logos {
    grid-template-columns: repeat(5, 1fr);
  }

  /* Works */
  .works__step-heading {
    font-size: 2.4rem;
  }

  .works__description {
    font-size: 1.8rem;
  }

  /* Meals */
  .meals__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .meals__diet {
    grid-column: span 1;
  }

  /* Testimonials */
  .testimonials__gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  /* Testimonials */
  .testimonials__content {
    grid-template-columns: 3fr 2fr;
  }
  .testimonials__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
