:root {
  --color-primary: #e67e22;
  --color-secondary: #fdf2e9;
  --color-accent: #cf711f;
  --color-focus: #e67d2280;
  --color-heading: #333;
  --color-body: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--color-body);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

*:focus {
  box-shadow: 0 0 0 8px var(--color-focus);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.list {
  list-style-type: none;
}

.list--icons {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.list__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list__icon {
  color: var(--color-primary);
}

.list__text {
  font-size: 1.8rem;
}

.btn {
  border-radius: 12px;
  padding: 1.4rem 2rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--cta {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--cta:hover {
  background-color: var(--color-accent);
}

.btn--secondary {
  background: #fff;
}

.btn--secondary:hover {
  box-shadow: inset 0 0 0 3px #fff;
  background: transparent;
}

.btn--form {
  background: #45260a;
  color: #fff;
}

.btn--form:hover {
  background: #fff;
  color: #45260a;
}

.block {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.block--secondary {
  background-color: var(--color-secondary);
}

.block__header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.block__subheading {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: block;
}

.block__heading {
  font-size: 3rem;
  color: var(--color-heading);
  line-height: 1.1;
}

.grid {
  display: grid;
}

/* Card */
.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
}

.card__img {
  display: block;
  width: 100%;
}

.card__body {
  padding: 1.6rem 2rem 3.2rem;
}

/* Badges */
.badge {
  text-transform: uppercase;
  color: var(--color-heading);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100px;
  padding: 4px 10px;
}

.badge--primary {
  background: #37b24d;
}

.badge--secondary {
  background: #69db7c;
}

.badge--accent {
  background: #ffe066;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media */
.media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.media__icon {
  color: var(--color-primary);
  width: 2.8rem;
  height: 2.8rem;
  padding: 1rem;
  background-color: var(--color-secondary);
  border-radius: 100%;
  --ionicon-stroke-width: 4rem;
}

.media__title {
  color: var(--color-heading);
  font-size: 2.4rem;
}

.media__description {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  /* Media */
  .media__icon {
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.4rem;
  }
}

.form {
  display: grid;
  gap: 2rem;
}

.form *:focus {
  box-shadow: 0 0 0 5px #f5cba7;
}

::placeholder {
  font-size: 1.6rem;
  color: #999;
  font-weight: 500;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form__label {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

.form__input {
  border: 0;
  outline: 0;
  border-radius: 8px;
  padding: 1.2rem;
  font-size: 1.8rem;
  line-height: 1;
  color: #777;
}
