/* Header */
.header {
  background-color: var(--color-secondary);
  padding: 2rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  max-width: 150px;
}

.nav__logo img {
  display: block;
}

.nav__list {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
  backdrop-filter: blur(10px);
  transform: translateX(100%);
}

.nav--open .nav__list {
  transform: translateX(0);
}

.nav__item {
  padding: 1.2rem 0;
}

.nav__item a {
  color: var(--color-heading);
  font-size: 2.2rem;
  font-weight: 600;
  transition: all 0.3s;
}

.nav__item a:hover {
  color: var(--color-primary);
}

.nav__item .nav__cta,
.nav__item .nav__cta:hover {
  color: #fff;
}

.nav__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;

  /* position: fixed;
  right: 2rem;
  top: 2rem; */
  z-index: 9;
}

.nav__icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.nav__icon--close {
  display: none;
}

.nav--open .nav__icon--menu {
  display: none;
}

.nav--open .nav__icon--close {
  display: block;
}

/* Hero */
.hero {
  background: var(--color-secondary);
  text-align: center;
}

.hero__content {
  row-gap: 4.8rem;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero__heading {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.05;
  color: var(--color-heading);
}

.hero__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__meals {
  display: flex;
  flex-direction: column;
}

.hero__customers {
  display: flex;
  justify-content: center;
}

.hero__customers img {
  width: 4.4rem;
  height: 4.4rem;
  margin-left: -1.6rem;
  border: 2px solid var(--color-secondary);
  border-radius: 100%;
}

.hero__customers img:first-of-type {
  margin-left: 0;
}

.hero__delivered-text {
  color: var(--color-heading);
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
}

.hero__meals-number {
  color: var(--color-accent);
  font-weight: bold;
}

.hero__img img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Company */
.companies__heading {
  color: var(--color-body);
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.6rem;
}

.companies__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1.6rem;
}

.companies__logos img {
  display: block;
  width: 100%;
  max-width: 100px;
}

/* Works */
.works {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.works__img {
  position: relative;
}

.works__img::before,
.works__img::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works__img::before {
  width: 45%;
  max-width: 245px;
  aspect-ratio: 1/1;
  background-color: #fae5d3;
  z-index: -1;
}

.works__img::after {
  width: 60%;
  max-width: 325px;
  aspect-ratio: 1/1;
  background-color: var(--color-secondary);
  z-index: -2;
}

.works__img img {
  display: block;
  width: 35%;
  max-width: 200px;
  margin: 0 auto;
}

.works__ordinal-number {
  font-size: 6rem;
  font-weight: 700;
  color: #ddd;
  line-height: 1;
}

.works__step {
  gap: 1.6rem;
}

.works__step-heading {
  color: var(--color-heading);
  font-size: 2.4rem;
}

.works__description {
  font-size: 1.8rem;
}

/* Meals */
.meals {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.meals__meal,
.meals__diet {
  max-width: 420px;
  transition: transform 0.4s ease-in-out;
}

.meals__meal:hover {
  transform: translateY(-12px);
}

.meals__header {
  text-align: center;
}

.meals__content {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
}

.meals__name,
.meals__diet-heading {
  color: var(--color-heading);
  font-size: 2.2rem;
}

.meals__diet-heading {
  margin-bottom: 2rem;
}

.meals__gradients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.meals__gradient {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.meals__gradient-detail {
  font-size: 1.6rem;
}

.meals__gradient-number {
  font-weight: 500;
}
.meals__see-all {
  color: var(--color-accent);
  font-size: 1.6rem;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-accent);
  transition: border-bottom 0.4s;
  align-self: center;
}

.meals__see-all:hover {
  border-bottom: 1px solid transparent;
}

/* Testimonials */
.testimonials__content {
  display: grid;
  gap: 4rem;
}

.testimonials__header {
  margin-bottom: 4rem;
}

.testimonials__list {
  display: grid;
  gap: 4rem;
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials__img {
  width: 7rem;
  height: 7rem;
  box-shadow: 0 0 0 3px #ddd;
  border-radius: 100%;
  overflow: hidden;
}

.testimonials__img img {
  display: block;
}

.testimonials__quote {
  font-size: 1.8rem;
  color: var(--color-heading);
}

.testimonials__name {
  font-size: 1.6rem;
  margin-top: -1rem;
  opacity: 0.6;
}

.testimonials__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.testimonials_gallery-item {
  overflow: hidden;
}

.testimonials_gallery-item:hover img {
  transform: scale(1.1);
}

.testimonials_gallery-item img {
  display: block;
  width: 100%;
  transition: transform 0.4s;
}

/* Prices */
.prices__plans {
  justify-items: center;
  gap: 4rem;
}

.prices__header {
  margin-bottom: 5rem;
}

.prices__plans {
  margin-bottom: 4rem;
}

.plan {
  width: 100%;
  max-width: 420px;
  border-radius: 9px;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.plan--starter {
  border: 2px solid var(--color-secondary);
}

.plan--complete {
  background-color: var(--color-secondary);
  position: relative;
  overflow: hidden;
}

.plan--complete::after {
  content: "BEST VALUE";
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.5rem 5rem;

  position: absolute;
  top: 3rem;
  right: 4.5rem;
  transform: translateX(50%) rotate(45deg);
}

.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.plan__title {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
}

.plan__price {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.plan__unit {
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__number {
  line-height: 1;
  font-weight: 600;
  font-size: 5rem;
}

.plan__description {
  font-size: 1.6rem;
}

.plan__btn {
  align-self: center;
}

.prices__description {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.prices__features {
  display: grid;
  gap: 5rem;
}

/* Registration */
.registration__content {
  background: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 10px;
  overflow: hidden;
}

.registration__img {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../images/registration_eating.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
}

.registration__info {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--color-heading);
}

.registration__heading {
  font-size: 2.8rem;
}

.registration__text {
  font-size: 1.8rem;
}

/* Footer */
.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.footer__title {
  color: var(--color-heading);
  font-size: 2.4rem;
  line-height: 1;
}

.footer__link {
  color: var(--color-body);
}

.footer__link:hover {
  color: var(--color-heading);
}

.footer__contact {
  grid-column: 1/-1;
}

.footer__logo {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__img {
  width: 100%;
  max-width: 200px;
  display: block;
}

.footer__icons {
  display: flex;
  gap: 2rem;
}

.footer__icons a {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  width: 3.2rem;
  height: 3.2rem;
  transition: color 0.2s;
}

.footer__icon:hover {
  color: var(--color-primary);
}

.footer__copyright {
  font-size: 1.8rem;
}
