/* Header */
.header {
  background-color: var(--color-secondary);
  padding: 2rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  max-width: 150px;
}

.nav__logo img {
  display: block;
}

.nav__list {
  background-color: rgba(255, 255, 255, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
  backdrop-filter: blur(10px);

  transform: translateX(100%);
}

.nav--open .nav__list {
  transform: translateX(0);
}

.nav__item {
  padding: 1.2rem 0;
}

.nav__item a {
  color: var(--color-heading);
  font-size: 2.2rem;
  font-weight: 600;
  transition: all 0.3s;
}

.nav__item a:hover {
  color: var(--color-primary);
}

.nav__item .nav__cta,
.nav__item .nav__cta:hover {
  color: #fff;
}

.nav__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  outline: none;
  z-index: 9999;
}

.nav__icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.nav__icon--close {
  display: none;
}

.nav--open .nav__icon--menu {
  display: none;
}

.nav--open .nav__icon--close {
  display: block;
}

/* Hero */
.hero {
  background: var(--color-secondary);
  text-align: center;
}

.hero__content {
  row-gap: 4.8rem;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero__heading {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.05;
  color: var(--color-heading);
}

.hero__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__meals {
  display: flex;
  flex-direction: column;
}

.hero__customers {
  display: flex;
  justify-content: center;
}

.hero__customers img {
  width: 4.4rem;
  height: 4.4rem;
  margin-left: -1.6rem;
  border: 2px solid var(--color-secondary);
  border-radius: 100%;
}

.hero__customers img:first-of-type {
  margin-left: 0;
}

.hero__delivered-text {
  color: var(--color-heading);
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
}

.hero__meals-number {
  color: var(--color-accent);
  font-weight: bold;
}

.hero__img img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Features */
.features__heading {
  color: var(--color-body);
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.6rem;
}

.features__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1.6rem;
}

.features__logos img {
  display: block;
  width: 100%;
  max-width: 100px;
}

/* Works */
.works {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.works__img {
  position: relative;
}

.works__img::before,
.works__img::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works__img::before {
  width: 45%;
  max-width: 245px;
  aspect-ratio: 1/1;
  background-color: #fae5d3;
  z-index: -1;
}

.works__img::after {
  width: 60%;
  max-width: 325px;
  aspect-ratio: 1/1;
  background-color: var(--color-secondary);
  z-index: -2;
}

.works__img img {
  display: block;
  width: 35%;
  max-width: 200px;
  margin: 0 auto;
}

.works__ordinal-number {
  font-size: 6rem;
  font-weight: 700;
  color: #ddd;
  line-height: 1;
}

.works__step-heading {
  color: var(--color-heading);
  font-size: 2.4rem;
}

.works__description {
  font-size: 1.8rem;
}

/* Meals */
.meals {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.meals__meal,
.meals__diet {
  max-width: 420px;
  transition: transform 0.4s ease-in-out;
}

.meals__meal:hover {
  transform: translateY(-12px);
}

.meals__header {
  text-align: center;
}

.meals__content {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
}

.meals__name,
.meals__diet-heading {
  color: var(--color-heading);
  font-size: 2.2rem;
}

.meals__diet-heading {
  margin-bottom: 2rem;
}

.meals__gradients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.meals__diet-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.meals__gradient,
.meals__diet-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.meals__icon {
  color: var(--color-primary);
}

.meals__gradient-detail,
.meals__tag {
  font-size: 1.6rem;
}

.meals__gradient-number {
  font-weight: 500;
}
.meals__see-all {
  color: var(--color-accent);
  font-size: 1.6rem;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-accent);
  transition: border-bottom 0.4s;
  align-self: center;
}

.meals__see-all:hover {
  border-bottom: 1px solid transparent;
}

/* Testimonials */
.testimonials__content {
  display: grid;
  gap: 4rem;
}

.testimonials__header {
  margin-bottom: 4rem;
}

.testimonials__list {
  display: grid;
  gap: 4rem;
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonials__img {
  width: 7rem;
  height: 7rem;
  box-shadow: 0 0 0 3px #ddd;
  border-radius: 100%;
  overflow: hidden;
}

.testimonials__img img {
  display: block;
}

.testimonials__quote {
  font-size: 1.8rem;
  color: var(--color-heading);
}

.testimonials__name {
  font-size: 1.6rem;
  margin-top: -1rem;
  opacity: 0.6;
}

.testimonials__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.testimonials_gallery-item {
  overflow: hidden;
}

.testimonials_gallery-item:hover img {
  transform: scale(1.1);
}

.testimonials_gallery-item img {
  display: block;
  width: 100%;
  transition: transform 0.4s;
}
