<section class="block features">
  <div class="container">
    <h2 class="features__heading">As Featured In</h2>
    <div class="features__logos">
      <img src="images/logo__techcrunch.png" alt="TechCrunch Logo" />
      <img
        src="images/logo__the-new-york-times.png"
        alt="The NewYork Times Logo"
      />
      <img src="images/logo__forbes.png" alt="Forbes Logo" />
      <img
        src="images/logo__business-insider.png"
        alt="Business Insider Logo"
      />
      <img src="images/logo__usa-today.png" alt="USA Today Logo" />
    </div>
  </div>
</section>
