<header class="header">
  <nav class="container nav">
    <a href="#" class="nav__logo"
      ><img src="images/logo.png" alt="Omnifood Logo" />
    </a>
    <ul class="list nav__list">
      <li class="nav__item"><a href="#">How it works</a></li>
      <li class="nav__item"><a href="#">Meals</a></li>
      <li class="nav__item"><a href="#">Testimonials</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
      <li class="nav__item">
        <a href="#" class="btn btn--cta nav__cta">Try for free</a>
      </li>
    </ul>
    <button class="nav__icons">
      <ion-icon
        class="nav__icon nav__icon--menu"
        name="menu-outline"
      ></ion-icon>
      <ion-icon
        class="nav__icon nav__icon--close"
        name="close-outline"
      ></ion-icon>
    </button>
  </nav>
</header>
