<section class="hero">
  <div class="container block grid grid--1x2 hero__content">
    <header class="hero__info">
      <h1 class="hero__heading">
        A healthy meal delivered to your door, every single day
      </h1>
      <p class="hero__description">
        The smart 365-days-per-year food subscription that will make you eat
        healthy again. Tailored to your personal tastes and nutritional needs.
      </p>
      <div class="hero__btns">
        <button class="btn btn--cta">Start eating well</button>
        <button class="btn btn--secondary">Learn more &darr;</button>
      </div>
      <div class="hero__meals">
        <div class="hero__customers">
          <img src="images/customer-1.jpg" alt="Customer 1" />
          <img src="images/customer-2.jpg" alt="Customer 2" />
          <img src="images/customer-3.jpg" alt="Customer 3" />
          <img src="images/customer-4.jpg" alt="Customer 4" />
          <img src="images/customer-5.jpg" alt="Customer 5" />
          <img src="images/customer-6.jpg" alt="Customer 6" />
        </div>
        <span class="hero__delivered-text"
          ><span class="hero__meals-number">250,000+</span> meals delivered last
          year!</span
        >
      </div>
    </header>
    <div class="hero__img">
      <picture>
        <source type="images/webp" srcset="images/hero.webp" />
        <source type="images/png" srcset="images/hero.png" />
        <img src="images/hero.png" alt="A woman enjoys food" />
      </picture>
    </div>
  </div>
</section>
