<section class="block registration">
  <div class="container">
    <div class="registration__content">
      <div
        class="registration__img"
        role="img"
        aria-label="Woman enjoying food"
      ></div>
      <div class="registration__info">
        <h2 class="registration__heading">Get your first meal for free!</h2>
        <p class="registration__text">
          Healthy, tasty and hassle-free meals are waiting for you. Start eating
          well today. You can cancel or pause anytime. And the first meal is on
          us!
        </p>
        <form action="#" class="form registration__form">
          <div class="form__group">
            <label class="form__label" for="full-name">Full name</label>
            <input
              class="form__input"
              type="text"
              id="full-name"
              placeholder="John Smith"
            />
          </div>
          <div class="form__group">
            <label class="form__label" for="email-address">Email address</label>
            <input class="form__input" type="email" id="email-address" />
          </div>
          <div class="form__group">
            <label class="form__label" for="option-hearing"
              >Where did you hear from us?</label
            >
            <select
              class="form__input"
              name="option-hearing"
              id="option-hearing"
            >
              <option value="instruction">Please choose one option:</option>
              <option value="friend-and-family">Friend and Family</option>
              <option value="youtube-videos">Youtube Videos</option>
              <option value="podcast">Podcast</option>
              <option value="facebook-ads">Facebook Ads</option>
              <option value="Others">Others</option>
            </select>
          </div>
          <button class="btn btn--form registration__btn">Sign up now</button>
        </form>
      </div>
    </div>
  </div>
</section>
