<section class="block block--secondary testimonials">
  <div class="container testimonials__content">
    <div>
      <header class="block__header testimonials__header">
        <span class="block__subheading">Testimonials</span>
        <h2 class="block__heading">Once you try it, you can't go back</h2>
      </header>
      <div class="testimonials__list">
        <figure class="testimonials__item">
          <div class="testimonials__img">
            <img src="images/testimonials-1-dave.jpg" alt="Dave Bryson" />
          </div>
          <blockquote class="testimonials__quote">
            Inexpensive, healthy and great-tasting meals, without even having to
            order manually! It feels truly magical.
          </blockquote>
          <span class="testimonials__name">&dash; Dave Bryson</span>
        </figure>
        <figure class="testimonials__item">
          <div class="testimonials__img">
            <img src="images/testimonials-2-ben.jpg" alt="Ben Hadley" />
          </div>
          <blockquote class="testimonials__quote">
            The AI algorithm is crazy good, it chooses the right meals for me
            every time. It's amazing not to worry about food anymore!
          </blockquote>
          <span class="testimonials__name">&dash; Ben Hadley</span>
        </figure>
        <figure class="testimonials__item">
          <div class="testimonials__img">
            <img src="images/testimonials-3-steve.jpg" alt="Steve Miller" />
          </div>
          <blockquote class="testimonials__quote">
            Omnifood is a life saver! I just started a company, so there's no
            time for cooking. I couldn't live without my daily meals now!
          </blockquote>
          <span class="testimonials__name">&dash; Steve Miller</span>
        </figure>
        <figure class="testimonials__item">
          <div class="testimonials__img">
            <img src="images/testimonials-4-hannah.jpg" alt="Hannah Smith" />
          </div>
          <blockquote class="testimonials__quote">
            I got Omnifood for the whole family, and it frees up so much time!
            Plus, everything is organic and vegan and without plastic.
          </blockquote>
          <span class="testimonials__name">&dash; Hannah Smith</span>
        </figure>
      </div>
    </div>
    <div class="testimonials__gallery">
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-1.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-2.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-3.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-4.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-5.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-6.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-7.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-8.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-9.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-10.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-11.jpg" alt="A Fantastic Meal" />
      </figure>
      <figure class="testimonials_gallery-item">
        <img src="images/gallery-12.jpg" alt="A Fantastic Meal" />
      </figure>
    </div>
  </div>
</section>
