<section class="block works">
  <header class="container block__header works__header">
    <span class="block__subheading works__subheading">How its works</span>
    <h2 class="block__heading works__heading">
      Your daily dose of health in 3 simple steps
    </h2>
  </header>
  <div class="container grid grid--1x2 works__step">
    <div class="works__img">
      <img src="images/how_it_works_1.png" alt="Step 01" />
    </div>
    <div class="works__content">
      <span class="works__ordinal-number">01</span>
      <h3 class="works__step-heading">Tell us what you like (and what not)</h3>
      <p class="works__description">
        Never again waste time thinking about what to eat! Omnifood AI will
        create a 100% personalized weekly meal plan just for you. It makes sure
        you get all the nutrients and vitamins you need, no matter what diet you
        follow!
      </p>
    </div>
  </div>
  <div class="container grid grid--1x2 works__step">
    <div class="works__img">
      <img src="images/how_it_works_2.png" alt="Step 02" />
    </div>
    <div class="works__content">
      <span class="works__ordinal-number">02</span>
      <h3 class="works__step-heading">Approve your weekly meal plan</h3>
      <p class="works__description">
        Once per week, approve the meal plan generated for you by Omnifood AI.
        You can change ingredients, swap entire meals, or even add your own
        recipes.
      </p>
    </div>
  </div>
  <div class="container grid grid--1x2 works__step">
    <div class="works__img">
      <img src="images/how_it_works_3.png" alt="Step 03" />
    </div>
    <div class="works__content">
      <span class="works__ordinal-number">03</span>
      <h3 class="works__step-heading">Receive meals at convenient time</h3>
      <p class="works__description">
        Best chefs in town will cook your selected meal every day, and we will
        deliver it to your door whenever works best for you. You can change
        delivery schedule and address daily!
      </p>
    </div>
  </div>
</section>
